.apply-text {
    text-align: center;
    font-family:Calibri;
    font-size: 200%;
    font-weight: bold;
    color:#465381;
}

.centered-text {
    text-align: center;
}

.table-cell {
    margin-top: 20px;
    margin-bottom: 20px;
}

.centered-div {
    width: 10%;
    margin: 0 auto;
}

.full-width-element {
    width: 100%;
}

.required-field-asterisk {
    color: red;
}

.lato-normal {
    font-family: 'Lato';
    font-style: normal;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-300 {
    font-weight: 300;
}

.font-size-36 {
    font-size: 30px;
}

.font-size-20 {
    font-size: 20px !important;
}